<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" packages="com.blog">
    <properties>
        <property name="LOG_PATH" value="logs" />
    </properties>
    <Appenders>
        <RollingRandomAccessFile name="blogAppender"
                                 fileName="${LOG_PATH}/blog-access.log"
                                 filePattern="${LOG_PATH}/${date:yyyy-MM}/blog-access-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p [%t][%M][%file:%line] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500 MB" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingRandomAccessFile>

    </Appenders>


    <Loggers>

        <AsyncLogger name="com.blog.service"
                     level="info" additivity="false">
            <AppenderRef ref="blogAppender" />
        </AsyncLogger>

        <AsyncRoot level="info">
            <!-- 			<AppenderRef ref="Console" /> -->
            <AppenderRef ref="blogAppender" />
        </AsyncRoot>
    </Loggers>
</Configuration>